@tailwind base;
@tailwind components;
@tailwind utilities;

.shiki {
  counter-reset: step;
  counter-increment: step 0;
  .line {
    &::before {
      counter-increment: step;
      @apply mr-6 inline-block w-4 border-transparent text-right text-neutral-600;
    }
    font-size: 14px;
  }
}

@config "../../tailwind.markdown.config.ts";
